<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renhang.core.callback.yibangbang.mapper.TaskCallbackMapper">
    <insert id="insertTaskCallback" parameterType="com.renhang.core.callback.yibangbang.pojo.ReceiveModel">
        insert into task_yibang (id, CodeInfo, MsgInfo,signature,create_time) values (#{id,jdbcType=VARCHAR}, #{CodeInfo,jdbcType=VARCHAR}, #{MsgInfo,jdbcType=VARCHAR},#{signature,jdbcType=VARCHAR}, #{create_time,jdbcType=VARCHAR})
    </insert>
    <insert id="insertTaskreqDataCallback" parameterType="com.renhang.core.callback.yibangbang.pojo.reqData">
        insert into task_reqdata (id, task_id, phone,channel,task_name,task_type,coin,profit,callback_time,create_time) values (#{id,jdbcType=VARCHAR}, #{task_id,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},#{channel,jdbcType=VARCHAR}, #{task_name,jdbcType=VARCHAR},#{task_type,jdbcType=VARCHAR},#{coin,jdbcType=VARCHAR},#{profit,jdbcType=VARCHAR},#{callback_time,jdbcType=VARCHAR},#{create_time,jdbcType=VARCHAR})
    </insert>
    <select id="insertUser"  parameterType="java.util.Map">
        insert into task_item
        (id, code, msg, `name`, head_img, balance, reward, wait, createdTime)
        values
        (#{params.id},#{params.code},#{params.msg},#{params.name},#{params.head_img},
        #{params.balance},#{params.reward},#{params.wait},#{params.createdTime})
    </select>
</mapper>