<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renhang.core.callback.kendeji.mapper.KenDeJiOrderCallbackMapper">

    <insert id="createdOrderEvent" parameterType="com.renhang.core.callback.kendeji.pojo.OrderEventVo">
        insert into order_kendeji_orderEvent
        (id, orderNo, eventType, platformId, platform, sign, cancelReason, cancelProducts, refundAmount, refundTime, created_Time)
         VALUES
        (
        #{orderEventVo.id},#{orderEventVo.orderNo},#{orderEventVo.eventType},#{orderEventVo.platformId},#{orderEventVo.platform},#{orderEventVo.sign},#{orderEventVo.data.cancelReason},#{orderEventVo.data.cancelProducts},#{orderEventVo.data.refundAmount},#{orderEventVo.data.refundTime},#{orderEventVo.createdTime}
        )
    </insert>

    <update id="updateOrderEvent" parameterType="com.renhang.core.callback.kendeji.pojo.OrderEventVo">
        update order_kendeji_orderEvent set
        eventType=#{eventType}, platformId=#{platform}, platform=#{platform}, sign=#{sign}, cancelReason=#{data.cancelReason}, cancelProducts=#{data.cancelProducts}, refundAmount=#{data.refundAmount}, refundTime=#{data.refundTime}
        where
        orderNo = #{orderNo}
    </update>

    <insert id="createdOrderKenDeJi" parameterType="com.renhang.core.callback.kendeji.pojo.KfcOrderVo">
        insert into order_kendeji
         (id, createTime, updateTime, userId, orderNo, status, statusDesc, unitPrice, totalPrice, paymentTime, amount, quantity, drawTime, ticket, userRemark, commissionPrice, userMobile, cancelTime, userName, refundPrice, platformUniqueId, kfcOrderMobileSuffix, kfcOrderMobileRemark, cityName, storeName, storeAddress, eatType)
         VALUES
        (
        #{id},#{createdTime},#{updateTime},#{userId},#{orderNo},#{status},#{statusDesc},#{unitPrice},#{totalPrice},#{paymentTime},#{amount},#{quantity},#{drawTime},#{ticket},#{userRemark},#{commissionPrice},#{userMobile},#{cancelTime},#{userName},#{refundPrice},#{platformUniqueId},#{kfcOrderMobileSuffix},#{kfcOrderMobileRemark},#{kfcPlaceOrder.cityName},#{kfcPlaceOrder.storeName},#{kfcPlaceOrder.storeAddress},#{kfcPlaceOrder.eatType}
        )
    </insert>

    <update id="updateOrderKenDeJi" parameterType="com.renhang.core.callback.kendeji.pojo.KfcOrderVo">
        update order_kendeji set
        createTime=#{createdTime},
         updateTime=#{updateTime},
         userId=#{userId},
          orderNo=#{orderNo},
           status=#{status},
            statusDesc=#{statusDesc},
            unitPrice=#{unitPrice},
             totalPrice=#{totalPrice},
              paymentTime=#{paymentTime},
               amount=#{amount},
                quantity=#{quantity},
                drawTime=#{drawTime},
                ticket=#{ticket},
                 userRemark=#{userRemark},
                 commissionPrice=#{commissionPrice},
                  userMobile=#{userMobile},
                   cancelTime=#{cancelTime},
                    userName=#{userName},
                     refundPrice=#{refundPrice},
                     platformUniqueId=#{platformUniqueId},
                      kfcOrderMobileSuffix=#{kfcOrderMobileSuffix},
                       kfcOrderMobileRemark=#{kfcOrderMobileRemark},
                        cityName=#{kfcPlaceOrder.cityName},
                         storeName=#{kfcPlaceOrder.storeName},
                          storeAddress=#{kfcPlaceOrder.storeAddress},
                           eatType=#{kfcPlaceOrder.eatType}
                where
                orderNo =#{orderNo}

    </update>

    <insert id="createdOrderKenDeJiItem" parameterType="com.renhang.core.callback.kendeji.pojo.KfcPlaceOrderItemVo">
        insert into order_kendeji_items
        (id, productId, productName, quantity, price, imageUrl, canceled, order_kendejiId, created_time)
        values
        (
        #{id},#{productId},#{productName},#{quantity},#{price},#{imageUrl},#{status},#{order_kendejiId},#{createdTime}
        )
    </insert>


    <select id="queryKftRefundTime" resultType="java.lang.Integer">
        select ifnull(count(order_kendeji.id),0) from order_kendeji where orderNo = #{perams}
    </select>
</mapper>